<%- include("./includes/head.ejs") %>

<div class="center top-button">
    <a href="/" class="button is-warning">â† Go Back To Main Page</a>
</div>

<div class="container not-found">
    <h1 class="title is-1">Sorry... Page Not Found</h1>
</div>

<%- include("./includes/end.ejs") %>