<%- include('./includes/head.ejs') %>
<form
  action="/
      <% if(editing) { %>
           /edit-article
      <% }else{ %>
           /add-article
      <% } %>"
  method="POST"
>
  <% if(editing) { %>
  <button type="submit">Edit</button>
  <button type="submit">Delete</button>
  <% }else{ %>
  <button type="submit">Add New Article</button>
  <% } %>
  <input
    type="text"
    name="title"
    value="<% if(editing) { %><%= article.title%><% } %>"
  />
  <input
    type="textarea"
    name="content"
    value="<% if(editing) { %><%= article.content%><% } %>"
  />
</form>

<%- include('./includes/end.ejs') %>
